<!DOCTYPE HTML>
<html>
    <Head>
        <meta charset="UTF-8">
        <title>Ajout d'une entreprise</title>
        <link rel="stylesheet" href="../Style.css">
    </head>
<body style="background-color:#808080">
<body>
    <h1> Formulaire d'ajout d'une entreprise </h1>
    <form action="{{ path('post_entreprise') }}" method="POST">
        <tr>
            <td>► Raison sociale : </td>
            <td><input type ="text" name ="RaisonSociale" required></td><br />
        </tr>
        <br />
        <tr>
            <td>► Adresse :</td>
            <td><input type ="text" name ="Adresse" required></td><br />
        </tr>
        <br />
        <tr>
            <td>► Adresse 2 :</td>
            <td><input type ="text" name ="Adresse2" ></td><br />
        </tr>
        <br />
        <tr>
            <td>► Adresse 3 :</td>
            <td><input type ="text" name ="Adresse3" ></td><br />
        </tr>
        <br />
        <tr>
            <td>► Ville : </td>
            <td><input type ="text" name ="Ville" required></td><br />
        </tr>
        <br />
        <tr>
            <td>► Code Postal : </td>
            <td><input type ="number" name ="CP" required></td><br />
        </tr>
        <br />
        <tr>
            <td>► Pays :</td>
            <td><input type ="text" name ="Pays" required></td><br />
        </tr>
        <br />
        <tr>
            <td><input type ="submit" name = "Envoyer" value ="Enregistrer"></td>
        </tr>
    </form>
</body>
