<!DOCTYPE HTML>
<html>
	<Head>
		<meta charset="UTF-8">
		<title>Ajout d'un utilisateur</title>
		<link rel="stylesheet" href="../Style.css">
	</head>
	<body style="background-color:#808080"></body>
	<body>
		<h1>
			Formulaire de modification d'un utilisateur
		</h1>
		<form action="{{ path('update_utilisateur', {'id': UTILISATEUR.id }) }}" method="POST">
			<tr>
				<td>
					Login :
				</td>
                    
				<td><input type="text" name="Login" required value={{UTILISATEUR.UTILLOGIN}}></td><br/> 
			</tr>
			<br/>
			<tr>
				<td>
					Mot de passe :</td>
				<td><input type="password" name="MDP" required></td><br/>
			</tr>
			<br/>
			<tr>
				<td>
					Role :</td>
				<td>
					<select name="Role" style="width:150px">
						<option value="E">Enseignants</option>
					</select>
				</td>
				<br/>
			</tr>
			<br/>
			<tr>
				<td><input type="submit" name="Envoyer" value="Modifier"></td>
			</tr>
		</form>
	</body>
</html>
